* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #0fd6df;
    --secondary-color: #f82a4c;
    --primary-text-color: #ffffff;
    --secodary-text-color: #16213e;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url("../assets/td-background.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    overflow: hidden;

}

header, footer{
    background-color: var(--primary-color);
    color: var(--secodary-text-color);
    font-size: 1.5rem;
    text-align: center;
    line-height: 3.5rem;
    width: 100vw;
}

form {
    background-color: #16213e;
    border: 1.5rem solid black;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;
    color: var(--primary-text-color);
}


h1 {
    text-align: center;
    letter-spacing: 0.25rem;
    margin-bottom: 0.5rem;
}
hr {
    margin-bottom: 0.75rem;
}
p{
    margin-top: 0.25rem;
    text-align: center;
    font-size: 1rem;
    opacity: 0.75;
}

.credentials {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.sign-in-actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin: 0.5rem 0;
}

.credentials-label{
    display: block;
    font-size: 1.25rem;
    color: var(--primary-text-color);
    opacity: 40%;
    margin-bottom: 0.25rem;
}

.credentials-input{
    padding: 0.5rem 0.5rem;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: none;
}

.sign-in-actions button{
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    border: none;
    font-weight: 900;
    color: var(--primary-text-color);
}

.success-sign-in{
    margin-right: 0.5rem;
    background-color: var(--primary-color);
}

.cancel-sign-in{
    margin-left: 0.5rem;
    background-color: var(--secondary-color);
}

a{
    text-decoration: none;
    color: var(--primary-text-color);
}